
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Direct access
*.lnk

# Agent logs and lck files
*.log
*.log.*
*.lck

# Agent statistics and descriptions
APDescription.txt
JGOMAS_Statistics.txt
MTPs-Main-Container.txt

# Metadata files
**.DS_Store